body {
  font-family: 'Lato', sans-serif;

}
#page_wrap {
  margin:20px;
  border:1px solid #000;
  border-radius: 5px;
  padding:20px;
}
#banner {
  position: relative;
  padding-bottom:30px;
}
#banner .strap {
  float:right;
  font-size:36px;
  position: absolute;
  top: 0px; right:0;
  color: #000
}

/**** General purpose styles ****/
.hidden {
  position:absolute;
  top: -10000px;
  left:0
}
/**** Dialogs ****/
#resources .hide {
  display:none
}

video.video {width:100%;height:auto;border:1px solid #c0c0c0}
video.self  {width:100px;height:auto;border:1px solid #c0c0c0;position:relative;bottom:10px;right:-10px;background-color:#fff}

form .message {color:#ff0000; font-weight:bold;text-align:center}
input[type="text"], input[type="password"], input[type="email"] {
  font-size:14px;
  padding:5px;
  border:1px solid #e0e0e0;
  border-radius:5px;
  outline:0;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {}

input[type="text"].error, input[type="password"].error {
  border:1px solid red;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,102,0,.6)
}
input[type="text"].error {border:1px solid red; shadow: 5px 5px}

button {
  font-size:16px;padding:2px 5px;
}
